.content-container {
    max-width: 335px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    @include for-tablet-landscape-up {
        max-width: 950px;
    }
    @include for-desktop-up {
        max-width: 1290px;
    }
}

.flex-container {
    display: flex;
    &--column {
        flex-flow: column;
    }
    &--space-btw {
        justify-content: space-between;
    }
    &--centered {
        align-items: center;
    }
}

.grid-container {
    display: grid;
}

