<input type="checkbox" class="menu-btn" id="menu-btn">
<nav class="site-navbar">
    <div class="content-container flex-container">
        <div class="site-navbar__logo">
            <a href="#" class="site-navbar__link">Vanilla Websites</a>
             
        </div>
        <ul class="site-navbar__list flex-container">
            <li><a href="#" class="site-navbar__link">About</a></li>
            <li><a href="#" class="site-navbar__link">Services</a></li>
            <li><a href="#" class="site-navbar__link">Portfolio</a></li>
            <li><a href="#" class="site-navbar__link">Contact</a></li>
        </ul>

    </div>
    <label for="menu-btn" class="menu-label">
        <span class="close"><img src="/assets/images/burger-menu.svg" alt=""></span>
        <span class="open">Close</span>
    </label>
</nav>