.contacts {
    text-align: center;

    &>.grid-container {
        padding: 5em 0;
        width: 60%;
        grid-template-rows: min-content min-content 1fr;
    }

    &__options {
        
        &__item {
            text-decoration: none;
            font: inherit;
            
            &__icon {
                &:after {
                    padding: 0.5em 0;

                }
            }
            &__details {
                color: $primary;
            }

        }

        
    }

    @include for-desktop-up {
        &__options {
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-evenly;
        }
    }
}